body {
	background-color: #ffcccc;
}
h1 {
	color: #800000;
	font-size: 60px;
}
#displayResult {
	background-color: #f0f0f5;
	height: 100px;
	width: 350px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	font-size: 40px;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 30px;
	padding-right: 20px;
}
#calc {
	background-color: #800000;
	width: 350px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
	margin-left: auto;
	margin-right: auto;
}
.btn {
	background-color: #ccffcc;
	margin: 5px;
	width: 3.6vw;
	height: 3.6vw;
	font-size: 22px;
}
.bigButton {
	width: 130px;
}